.mat-header-row{
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 0px;
}
.mat-header-cell{
    font-size: 1.3rem !important; 
    margin-left: 10px !important;
}
/*without invoke actions*/
/* .mat-cell{
    padding-left: 15px !important;
    font-size: 1.3rem !important;
} */
/*with invoke actions*/
.mat-cell{
    font-size: 1.3rem !important;
    margin-left: 10px !important;
} 
.form-control.fnt-sz{
    font-size: 1.3rem !important; 
}